

.hr{
 border: 0.5px solid #d9d9d9;
    width: 100%;
}

.filter{
    display: flex;
 align-items: center;
 gap: 20px;
}
.filter_right{
    display: flex;
 align-items: center;
 gap: 20px;
}

#color_options{
    padding:1px 10px;
}
#sort{
    padding:1px 10px;
}

.filter p{
    font-size: 18px;
    font-weight: bold;
}
.filter_right p{
    font-size: 18px;
    font-weight: bold;
}
#size_options{
    padding:1px 10px;
}
.container_products{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 10px;
}
.sub_container{
    padding: 10px 20px;
 
    display: flex;
    justify-content: flex-end;
}